{% extends 'plantilla.html' %}
{% load static %}
{% block body %}
        <div class="container-fluid feature bg-light py-5">
            <div class="container py-5">
                <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                    <h4 class="text-primary">¿Por qué elegirnos?</h4>
                    <h1 class="display-4 mb-4">Descubre Nuestros Servicios Destacados</h1>
                    <p class="mb-0">En Automotores Santa María, nos dedicamos a ofrecerte soluciones integrales para tu vehículo. Conoce a continuación los pilares de nuestro servicio, diseñados para tu total satisfacción.
                    </p>
                </div>
                <div class="feature-carousel owl-carousel">
                    <div class="feature-item wow fadeInUp" data-wow-delay="0.2s">
                        <div class="feature-img">
                            <img src="{% static 'plantilla/Fitness-1.0.0/img/santamariaTaller.jpg' %}" class="img-fluid w-100" alt="Imagen de Taller Mecánico">
                        </div>
                        <div class="feature-content p-4">
                            <h4 class="mb-3">Taller Mecánico Profesional</h4>
                            <p class="mb-4">Contamos con técnicos expertos y equipos de última generación para el mantenimiento y reparación de tu vehículo, garantizando un servicio de calidad y confianza.
                            </p>
                            <a href="#" class="btn btn-primary py-2 px-4"> <span>Saber Más</span></a>
                        </div>
                    </div>
                    <div class="feature-item wow fadeInUp" data-wow-delay="0.4s">
                        <div class="feature-img">
                            <img src="{% static 'plantilla/Fitness-1.0.0/img/santamariaRepuestos.jpg' %}" class="img-fluid w-100" alt="Imagen de Venta de Repuestos">
                        </div>
                        <div class="feature-content p-4">
                            <h4 class="mb-3">Venta de Repuestos Originales</h4>
                            <p class="mb-4">Encuentra una amplia variedad de repuestos originales y de alta calidad para todas las marcas y modelos, asegurando el óptimo funcionamiento de tu automóvil.
                            </p>
                            <a href="#" class="btn btn-primary py-2 px-4"> <span>Ver Repuestos</span></a>
                        </div>
                    </div>
                    <div class="feature-item wow fadeInUp" data-wow-delay="0.6s">
                        <div class="feature-img">
                            <img src="{% static 'plantilla/Fitness-1.0.0/img/santamariaVehiculo.jpg' %}" class="img-fluid w-100" alt="Imagen de Venta de Vehículos">
                        </div>
                        <div class="feature-content p-4">
                            <h4 class="mb-3">Venta de Vehículos Nuevos y Usados</h4>
                            <p class="mb-4">Descubre nuestra selección de vehículos, desde modelos nuevos con las últimas prestaciones hasta opciones usadas en excelente estado, ajustadas a tu presupuesto.
                            </p>
                            <a href="#" class="btn btn-primary py-2 px-4"> <span>Explorar Vehículos</span></a>
                        </div>
                    </div>
                    <div class="feature-item">
                        <div class="feature-img">
                            <img src="{% static 'plantilla/Fitness-1.0.0/img/santamariaClientes.jpg' %}" class="img-fluid w-100" alt="Imagen de Cotización de Clientes">
                        </div>
                        <div class="feature-content p-4">
                            <h4 class="mb-3">Cotización y Atención Personalizada</h4>
                            <p class="mb-4">Obtén una cotización detallada y un asesoramiento personalizado para cualquiera de nuestros servicios o productos, sin compromiso. Estamos aquí para ayudarte.
                            </p>
                            <a href="#" class="btn btn-primary py-2 px-4"> <span>Solicitar Cotización</span></a>
                        </div>
                    </div>
                </div>
                <div class="feature-shaps"></div>
            </div>
        </div>
        {% endblock %}