{% extends "plantilla_admin.html" %}

{% block body %}
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary rounded p-4 mb-4">
        <div class="card-title text-center">
            <h3 class="mb-0 text-white"><b>EDITAR TIPO DE PARTE DE VEHÍCULO</b></h3>
        </div>
    </div>

    <div class="bg-secondary rounded p-4">
        <div class="row">
            <div class="col-md-12">
                <form action="{% url 'proceso_actualizar_tipo_parte_vehiculo' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{TipoParteVehiculoEditar.id}}">

                    <div class="mb-3">
                        <label for="nombre" class="form-label text-white">Nombre:</label>
                        <input type="text" name="nombre" class="form-control" value="{{TipoParteVehiculoEditar.nombre}}" id="nombre" placeholder="Ingrese el nombre del tipo de parte de vehículo">
                    </div>

                    <div class="mb-3">
                        <label for="descripcion" class="form-label text-white">Descripción:</label>
                        <textarea name="descripcion" id="descripcion" class="form-control" rows="3" placeholder="Ingrese la descripción">{{TipoParteVehiculoEditar.descripcion}}</textarea>
                    </div>

                    <br>
                    <button type="submit" class="btn btn-warning me-2">Actualizar</button>
                    <a href="{% url 'listado_tipos_parte_vehiculo' %}" class="btn btn-outline-primary">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}