{% extends "plantilla_admin.html" %}

{% block body %} 

<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary rounded p-4">
        <h6 class="mb-4 text-white text-center">Listado de Tipos de Parte de Vehículo</h6> 
        
        <div class="d-flex justify-content-center mb-3"> 
            <a href="{% url 'nuevo_tipo_parte_vehiculo' %}" class="btn btn-primary">Agregar Tipo de Parte de Vehículo</a> 
        </div>

        <div class="table-responsive">
            <table class="table table-dark table-striped table-hover text-center" id="tbl-data"> 
                <thead>
                    <tr>
                        <th>Id del Tipo de Parte</th>
                        <th>Nombre del Tipo de Parte</th>
                        <th>Descripción del Tipo de Parte</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tipoParteTemporal in tipos_parte_vehiculo %}
                    <tr>
                        <!-- Aplicando sufijo a ID -->
                        <td>{{ tipoParteTemporal.id_tpv_mod2 }}</td>
                        <!-- Aplicando sufijo a nombre -->
                        <td>{{ tipoParteTemporal.nombre_tpv_mod2 }}</td>
                        <!-- Aplicando sufijo a descripción -->
                        <td>{{ tipoParteTemporal.descripcion_tpv_mod2 }}</td>
                        <td>
                            <!-- Aplicando sufijo a ID en URLs -->
                            <a href="{% url 'editar_tipo_parte_vehiculo' tipoParteTemporal.id_tpv_mod2 %}" class="btn btn-warning btn-sm">Editar</a>
                            <a href="{% url 'eliminar_tipo_parte_vehiculo' tipoParteTemporal.id_tpv_mod2 %}" onclick="return confirm('¿Está seguro de eliminar?')" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}